.swiper1 {
	height: 500px;
	position: relative;
	@media screen and (max-width: $lg) {
		height: fit-content;
	}
	.swiper-wrapper {
		.swiper-slide {
			.aa-row {
				display: flex;
				height: 100%;
				width: 100%;
				.col-left {
					width: 50%;
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						@media screen and (max-width: $lg) {
							height: 320px;
						}
					}
					@media screen and (max-width: $lg) {
						width: 100%;
					}
				}
				.col-right {
					width: 50%;
					padding: 100px;
					position: relative;
					background: white;
					color: $black;
					.slide-title {
						font-size: 50px;
						font-weight: 600;
					}
					span {
						position: absolute;
						bottom: 2%;
						right: 10%;
						line-height: 1;
						font-size: 120px;
						color: transparent;
						-webkit-text-stroke: 2px black;
						@media screen and (max-width: $lg) {
							font-size: 80px;
							bottom: -10%;
						}
					}
					.slide-content {
						@media screen and (max-width: $lg) {
							display: -webkit-box;
							-webkit-box-orient: vertical;
							-webkit-line-clamp: 3;
							overflow: hidden;
						}
					}
					@media screen and (max-width: $lg) {
						width: 100%;
						padding: 40px;
						height: 100%;
					}
				}
				@media screen and (max-width: $lg) {
					flex-direction: column;
				}
			}

		}
	}
	.swiper-button-next,
	.swiper-button-prev {
		width: 60px;
		height: 60px;
		&:after {
			font-size: 20px;
		}
	}
	.swiper-button-prev {
		background: $white;
		left: calc(50% - 60px);
		top: 0;
		margin: 0;
		&:after {
			color: $black;
		}
		@media screen and (max-width: $lg) {
			top: calc(320px - 60px);
			left: 0;
		}
	}
	.swiper-button-next {
		right: calc(50% - 60px);
		top: unset;
		bottom: 0;
		margin: 0;
		background: $black;
		&:after {
			color: $white;
		}
		@media screen and (max-width: $lg) {
			top: calc(320px);
			right: 0;
		}
	}
}
